.card {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  .title {
    display: flex;
    align-items: center;
    gap: 100px;
    width: 70%;
    @media (max-width: 768px) {
      gap: 10px;
    }
    img {
      width: 30%;
      border-radius: 10px;
      @media (max-width: 768px) {
        width: 40%;
      }
      @media (max-width: 375px) {
        display: none;
      }
    }
    .name {
      font-size: 24px;
      text-align: start;
      @media (max-width: 768px) {
        font-size: 18px;
        min-width: 200px;
      }
      @media (max-width: 425px) {
        font-size: 16px;
      }
      @media (max-width: 375px) {
        font-size: 14px;
      }
    }
  }
  .price {
    align-self: center;
    font-size: 24px;
    font-weight: 600;
    @media (max-width: 768px) {
      font-size: 20px;
    }
    @media (max-width: 375px) {
      font-size: 16px;
    }
  }
}