.cw {
  color: white;
}

.nsf {
  font-family: 'Noto Sans', sans-serif;
}

.cp {
  cursor: pointer;
}

.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.pr {
  position: relative;
}

.jcsb {
  justify-content: space-between;
}

.jcfe {
  justify-content: flex-end;
}

.fdc {
  flex-direction: column;
}

.w100 {
  width: 100%;
}

.tac {
  text-align: center;
}

.gr10 {
  gap: 0 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt20 {
  margin-top: 20px;
}
.fs26 {
  font-size: 26px;
}