@import './classes.scss';
@mixin hoverStyles {
  color: rgb(255, 105, 180);
  opacity: 0.5;
  transition: color 0.2s ease, opacity 0.3s linear, transform .2s ease;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  color: #000;
  background-color: #fff;
  font-family: 'Noto Sans', sans-serif;
  a {
    color: #000;
    text-decoration: none;
    &:hover {
      @include hoverStyles;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .main {
      flex: 1 1 auto;
    }
  }
  .error {
    font-size: 12px;
    font-weight: 600;
    color: red;
  }
}
